<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Home Page</title>
</head>
<body>

<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>

<!-- Main Container Start -->
<div class="main-container container py-5 px-4">
    <div class="image-box">
        <img th:src="@{/images/exam.svg}" alt="image">
    </div>
    <div class="text-box">
        <h1 class="mb-5 text-center">Add Quiz</h1>

        <form class="card bg-dark py-5 px-4" action="/quiz" method="POST">
            <!--<input type="file" id="image-upload" accept="image/*">-->
            <img id="image-preview" hidden="hidden" class="p-2" src="#" width="200px" height="200px"/>
            <input type="file" class="form-control" id="image-upload" accept="image/*" name="image"/>
            <input type="text" class="form-control" placeholder="input quiz..." name="quiz"/>

            <div class="input-group">
                <input type="text" name="a" aria-label="a" placeholder="input a..." class="form-control">
                <input type="text" name="b" aria-label="b" placeholder="input b..." class="form-control">
                <input type="text" name="c" aria-label="c" placeholder="input c..." class="form-control">
            </div>

            <input type="text" class="form-control" placeholder="input answer of quiz..." name="answer"/>
            <p class="text-danger warning" th:if="${warning}" th:text="${warning}"></p>
            <button type="submit" class="btn btn-outline-warning">Add To DataBase</button>
        </form>
    </div>
</div>


<script>

const inputElement = document.getElementById("image-upload");
const previewElement = document.getElementById("image-preview");

inputElement.addEventListener("change", (event) => {
  const file = event.target.files[0];
  const reader = new FileReader();

  reader.addEventListener("load", (event) => {
    const imageUrl = event.target.result;
    previewElement.src = imageUrl;
    previewElement.hidden = false;

  });

  reader.readAsDataURL(file);
});

</script>
<!-- Importing Footer -->
<div th:insert="footer.html :: footer"></div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>